

<div class="sidebar-mini sidebar-closed sidebar-mini-xs">

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-light-teal elevation-4 sidebar-no-expand">
        <!-- Brand Logo -->
        <a href="" class="brand-link">
            <img src="images/logo.png" alt="Adco Logo" class="brand-image"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">Adco</span>
        </a>

        <a class="nav-item" style="margin-bottom: 10px;">
            <a class="nav-menu" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </a>

        <!-- Sidebar -->
        <div class="sidebar os-host os-theme-light os-host-resize-disabled os-host-transition os-host-scrollbar-vertical-hidden os-host-overflow os-host-overflow-x"
             style="background-color:white;">

            <!-- Sidebar Menu -->

            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column nav-flat" data-widget="treeview" role="menu">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->

                    <li class="nav-item" style="margin-bottom: 10px;">
                        <NavLink class="nav-link" style="padding: 1rem 1rem; " href="proyectos">
                            <i class="nav-icon">

                                <svg xmlns="http://www.w3.org/2000/svg" id="mi-svg" class="nav-icon" style="height:55px; width:55px; margin-left:-15px;" viewBox="0 0 65 65">
                                    <path d="M27.105.459c-.325.242-.604.573-.604.727 0 .176-.697.683-1.534 1.146-2.93 1.63-5.347 4.804-6.253 8.241-.256.948-.605 1.653-1.07 2.093-.79.794-.79.838-.302 1.3.325.309 2.022.353 15.203.353 8.16 0 14.994-.066 15.203-.132.581-.22.442-.992-.325-1.74-.489-.486-.768-1.037-.93-1.94-.767-3.812-2.906-6.897-5.789-8.285-.511-.265-.953-.551-.953-.661 0-.11-.279-.507-.604-.882-.674-.771-1.534-.881-2.348-.352-.418.264-.767.286-2.348.066C33.173.239 32.126.217 31.173.37c-1.046.154-1.51.132-1.929-.066-.767-.419-1.441-.375-2.139.154ZM38.59 1.847c0 .375.233.617.976.926 3.139 1.344 5.417 4.473 5.905 8.087.093.793.349 1.344.744 1.74l.604.617H18.527l.442-.463c.233-.242.558-1.057.72-1.784.698-3.284 3.395-6.699 6.277-8.021 1.116-.507 1.442-.771 1.558-1.256.093-.44.255-.595.697-.595.302 0 .674.132.814.308.209.243.442.265 1.023.089 1-.287 4.3-.265 5.114.022.976.352 1.65.286 2.092-.199.325-.374.488-.396.86-.22.256.132.465.463.465.75Z" />
                                    <path d="M31.196 2.552c-1.557.397-2.138.683-2.138 1.08 0 .485.488.507 1.673.066 1.325-.463 3.208-.507 4.487-.066 1.185.419 1.743.419 1.743 0s-.976-.881-2.51-1.19c-1.511-.308-1.72-.286-3.255.11ZM27.407 6.21c-.372 1.322-.163 4.385.349 5.134.21.309.535.53.674.485.302-.11.302-.397-.093-2.181a6.293 6.293 0 0 1-.046-2.556c.232-1.455.186-1.807-.28-1.807-.185 0-.441.418-.604.925Zm10.205-.705c-.046.154-.023.86.07 1.609a14.8 14.8 0 0 1-.046 2.688c-.28 1.939-.28 2.137.209 2.05 1.093-.2 1.325-6.325.232-6.523-.209-.044-.418.044-.465.176Zm6.439 9.475c-.07.132.093.838.372 1.609.628 1.674.837 4.45.442 6.17-.93 4.252-4.533 7.734-9.182 8.858-6.184 1.498-12.762-2.226-14.622-8.242-.581-1.872-.488-3.481.465-7.8.116-.485.07-.595-.302-.595-.79 0-1.488 2.688-1.511 5.707-.024 3.217 1.255 6.016 3.882 8.506 2.65 2.534 5.556 3.636 9.53 3.636 6.184 0 11.484-4.21 12.81-10.137.441-2.027.302-3.944-.466-6.191-.534-1.543-1.046-2.094-1.418-1.52Zm4.789 20.713-15.435 2.6-16.412-2.512C7.973 34.393.465 33.313.303 33.358c-.164.066-.303.352-.303.66 0 .551 4.022 10.643 4.394 10.996.116.11.371.11.557.022.303-.176 0-1.035-1.743-5.332-1.162-2.82-2.046-5.179-1.976-5.245.07-.088 28.616 4.209 31.127 4.672l.65.132.047 5.53c.07 5.377.093 5.554.535 5.554.441 0 .465-.177.534-5.553.047-5.553.047-5.575.582-5.685.837-.199 29.104-4.914 29.15-4.87.024.022-.674 2.314-1.58 5.09-.884 2.776-1.558 5.178-1.511 5.332.302.75.813.199 1.371-1.542 3.115-9.607 3.255-10.092 2.441-10.048-.163 0-7.253 1.19-15.738 2.622Z" />
                                    <path d="M31.359 33.512c-2.534.264-7.137 1.564-7.485 2.115-.07.11-.047.33.07.507.162.242.418.198 1.44-.176 4-1.52 7.811-1.917 11.275-1.19 1.162.264 2.65.705 3.301 1.013 1.395.684 1.953.727 1.837.177-.117-.573-2.162-1.52-4.37-2.005-2.465-.53-4.115-.64-6.068-.441ZM5.835 45.41c-3.394 1.61-4.626 5.29-2.883 8.572.744 1.345 2.348 2.645 3.79 3.063 1.115.309 3.068.309 4.183 0 1.442-.418 3.046-1.718 3.79-3.063 1.743-3.26.558-6.875-2.836-8.527-2.046-1.014-3.976-1.014-6.044-.044Zm5.462.816c2.046.992 3.092 2.622 3.115 4.804.024 4.781-5.997 7.14-9.577 3.746-1.046-.97-1.58-2.226-1.58-3.724 0-2.49 1.533-4.43 4.184-5.245.883-.286 2.859-.066 3.858.419Zm44.122-.859a7.155 7.155 0 0 0-3.301 2.974c-.837 1.52-.884 3.967-.093 5.355 1.255 2.27 3.068 3.415 5.695 3.548 1.395.088 1.744.022 3.069-.595 2.417-1.146 3.672-3.02 3.672-5.531.024-2.446-1.325-4.517-3.603-5.597-1.51-.727-3.975-.793-5.44-.154Zm5.44 1.278c1.487.859 2.44 2.357 2.556 4.032.117 1.609-.255 2.688-1.301 3.79-2.65 2.777-6.951 2.402-8.88-.771-.907-1.498-.977-3.548-.163-5.002 1.488-2.666 5.114-3.636 7.787-2.05ZM9.763 58.213c0 .529 1.93 5.068 2.185 5.156.14.022 4.928.42 10.67.838L33.01 65l11.321-1.124c6.23-.595 11.39-1.146 11.46-1.212.21-.22 1.558-4.473 1.442-4.605-.07-.066-.302-.11-.535-.11-.372 0-.534.352-1.51 3.57-.07.22-.256.396-.42.396-.394 0-18.41 1.719-19.596 1.873l-1 .132v-1.74c0-1.41-.069-1.785-.371-1.895-.651-.243-.79.088-.79 1.873v1.74l-1.093-.022c-.628 0-5.23-.33-10.275-.705l-9.159-.705-.907-2.27c-.72-1.762-1.022-2.247-1.371-2.247-.233 0-.442.132-.442.264Z" />
                                </svg>

                            </i>
                            <p>
                                Proyectos

                            </p>

                        </NavLink>
                    </li>

                    <li class="nav-item" style="margin-bottom: 10px;">
                        <NavLink class="nav-link" style="padding: 1rem 1rem; " href="gastos">
                            <i class="nav-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" class="nav-icon" style="height:55px; width:55px; margin-left:-15px;" viewBox="0 0 65 65">
                                    <path 1rem d="M29.85.363c-6.17 2.188-7.954 9.598-3.391 14.173 1.708 1.716 3.543 2.462 6.194 2.462 2.65 0 4.435-.721 6.245-2.487C43.104 10.41 41.88 3.297 36.502.786c-1.835-.845-4.894-1.044-6.653-.423Zm5.99 1.442c1.58.722 3.083 2.164 3.797 3.63.816 1.716.74 4.675-.153 6.366-1.376 2.536-3.925 4.078-6.831 4.078-1.988 0-3.594-.597-5.072-1.89-1.734-1.517-2.448-3.158-2.422-5.57.025-2.213.459-3.307 1.937-4.898 2.37-2.486 5.608-3.108 8.743-1.716Z" />
                                    <path 1rem d="M31.76 2.427c-.127.572-.305.77-.713.77-1.657.026-3.747 2.239-3.39 3.606.204.82 1.453 1.542 2.982 1.74l1.25.175v3.979l-1.275-.175c-.892-.124-1.402-.074-1.657.124-.663.523.025.995 1.427.995 1.122 0 1.3.075 1.504.622.28.746.765.82.943.124.128-.497.357-.597 1.887-.845 1.656-.274 2.676-1.766 2.345-3.432-.179-.97-1.402-1.964-2.804-2.312l-1.224-.299-.076-1.69-.077-1.691 1.377.15c1.504.148 2.115-.076 1.886-.647-.102-.274-.586-.423-1.631-.473-1.326-.074-1.479-.124-1.606-.696-.23-.92-.943-.945-1.147-.025Zm.128 3.53v1.468h-.815c-1.02 0-2.09-.497-2.193-1.02-.178-.87 2.014-2.461 2.83-2.038.102.05.178.77.178 1.59Zm3.238 3.358c1.223.745 1.045 2.412-.306 2.983-1.785.721-1.912.597-1.912-1.666V8.618l.841.174c.433.1 1.07.324 1.377.523Z" />
                                    <path 1rem d="M8.514 12.82c-.255.1-.331 1.567-.331 6.192v6.067l-.995 1.94c-.917 1.79-1.988 4.823-2.472 7.136l-.23.994-1.911.075c-1.045.05-2.04.199-2.218.348-.459.373-.484 10.89-.025 11.338.204.199 1.453.298 3.925.298h3.62l2.702 2.86 2.701 2.86v5.843c0 5.022.052 5.868.383 5.992.23.1 1.478-.323 2.778-.895l2.37-1.044 2.32 1.168c1.275.622 2.447 1.094 2.6.995.153-.1.255-1.492.255-3.63 0-2.462.077-3.457.306-3.457.153 0 1.555.249 3.11.522 2.345.448 3.441.523 6.398.398 1.963-.05 4.46-.298 5.557-.547 1.096-.224 2.064-.348 2.14-.273.103.074.205 1.64.281 3.431.051 1.815.179 3.407.28 3.506.103.1 1.199-.273 2.448-.82l2.268-1.02 2.651.77c1.479.423 2.83.722 3.034.647.255-.1.331-1.317.331-5.967v-5.819l1.937-2.063c1.07-1.144 2.473-2.76 3.11-3.58 3.416-4.452 4.333-9.425 2.83-15.541-1.81-7.485-7.622-12.93-17.104-16.038-2.575-.845-3.365-.87-3.212-.174.05.224.943.646 2.37 1.094C54.523 20.13 60.641 27.64 60.106 37.76c-.255 4.749-1.81 7.683-6.832 12.68l-1.631 1.617v5.595c0 3.58-.102 5.594-.255 5.57-.127 0-1.224-.324-2.447-.697l-2.167-.671-1.911.895-1.887.87-.076-3.406c-.026-1.89-.153-3.506-.255-3.606-.102-.074-1.555.125-3.237.473-4.257.895-8.947.895-13.128 0-1.707-.373-3.033-.547-3.16-.423-.128.124-.204 1.74-.179 3.605l.051 3.382-2.09-1.02-2.09-1.044-2.04.895c-1.12.498-2.064.87-2.115.82-.051-.049-.178-2.635-.28-5.743-.102-4.053-.255-5.694-.46-5.768-.178-.075-1.325-1.244-2.574-2.611-1.249-1.368-2.574-2.66-2.957-2.86-.484-.248-1.605-.348-3.9-.348H1.3l-.05-3.73c-.026-2.063-.052-4.202-.077-4.798v-1.045l2.166-.124 2.167-.124.23-.995c.79-3.63 1.3-5.222 2.447-7.51l1.274-2.61-.178-5.197c-.077-2.86-.051-5.196.05-5.196.205 0 2.116 1.467 5.277 4.053l1.223.994 2.346-1.069c1.3-.597 3.517-1.492 4.92-1.964 1.758-.622 2.574-1.02 2.625-1.343.076-.323-.077-.423-.587-.423-.815 0-5.021 1.517-7.366 2.66-1.504.747-1.784.821-2.167.498-1.402-1.169-6.321-5.072-6.525-5.197-.128-.074-.408-.074-.561-.025Z" />
                                    <path 1rem d="M23.527 18.166c-.713.697-.305.896 2.065 1.07 1.275.074 5.379.124 9.1.074 6.373-.074 6.755-.1 6.831-.547.051-.248-.05-.547-.255-.671-.56-.348-17.384-.274-17.74.074Zm40.657 8.33a25.16 25.16 0 0 0-.306 1.94c-.153 1.019-.357 1.392-1.223 2.188-.816.72-.969.994-.74 1.218.485.473 1.912-.398 2.6-1.591.46-.796.536-1.268.46-2.462-.128-1.69-.587-2.437-.79-1.293ZM10.91 28.56c-1.249 1.417-1.198 4.277.077 5.52.408.373.917.696 1.147.696 1.325 0 2.243-1.442 2.243-3.481 0-2.934-1.963-4.476-3.467-2.735Zm2.065 1.243c.433.82.255 2.91-.306 3.431-.408.398-.484.398-.943-.174-.867-1.02-.459-4.127.51-3.953.229.05.535.348.739.696ZM2.32 40.967c0 2.86.025 3.009.51 3.009.51 0 .535-.124.458-2.91-.076-2.56-.127-2.933-.51-3.008-.407-.074-.458.2-.458 2.91Zm13.05 18.102c.077.398.409.447 3.264.447 2.65 0 3.186-.05 3.186-.372 0-.299-.561-.373-3.263-.448-3.033-.05-3.263-.025-3.186.373Zm28.345-.149c-.356.572.46.746 3.62.671 2.88-.075 3.288-.124 3.365-.522.076-.373-.204-.423-3.365-.423-2.192 0-3.492.1-3.62.274Z" />
                                </svg>



                            </i>
                            <p>
                                Gastos

                            </p>

                        </NavLink>
                    </li>

                    <li class="nav-item" style="margin-bottom: 10px;">
                        <NavLink class="nav-link" style="padding: 1rem 1rem; " href="prospectos">
                            <i class="nav-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" class="nav-icon" style="height:55px; width:55px; margin-left:-15px;" viewBox="0 0 65 65">
                                    <path d="M26.16.544c-7.274 1.635-12.362 8.412-11.808 15.69.58 7.885 7.064 13.977 14.867 13.977 4.19 0 7.75-1.45 10.675-4.351 5.694-5.643 5.905-14.82.501-20.727C36.784 1.23 31.116-.59 26.161.544Zm6.828 1.345c8.593 2.558 12.626 11.656 8.646 19.593-2.451 4.88-7.802 7.99-13.18 7.569-7.433-.527-12.89-6.408-12.89-13.871 0-3.877 1.16-6.698 3.875-9.52 2.794-2.9 5.72-4.167 9.727-4.167 1.476-.026 2.926.132 3.822.396Zm13.178 5.006c-.469.504-.42 29.238.05 29.663.222.213 2.962.292 9.552.24l9.232-.08V6.709l-9.256-.08c-7.01-.053-9.355.027-9.578.266Zm17.92 14.871.05 14.022H47.104V7.638l8.467.053 8.442.08.074 13.995Z" />
                                    <path d="M47.968 9.232c-.395.717.395.796 7.159.796 5.75 0 7.01-.053 7.108-.371.075-.213.075-.452 0-.532-.271-.292-14.094-.185-14.267.107Zm3.209 3.186c-.37.664.321.797 4.221.797 3.752 0 4.073-.026 3.999-.478-.074-.398-.494-.451-4.073-.531-2.518-.027-4.048.027-4.147.212Zm.198 2.55c-.247.743.444.903 3.875.903s4.122-.16 3.875-.903c-.123-.372-.69-.425-3.875-.425-3.184 0-3.752.053-3.875.425Zm.025 2.788c-.346.638.444.77 3.998.717 3.258-.08 3.678-.133 3.752-.557.074-.425-.222-.452-3.752-.452-2.493 0-3.875.106-3.999.292Zm.468 2.524c-.518.238-.37.875.247 1.035.296.08 1.925.106 3.629.08 2.888-.08 3.085-.107 3.085-.611 0-.505-.173-.531-3.332-.584-1.827-.027-3.48.026-3.629.08Zm-.444 2.761c-.37.637.32.797 3.727.797 3.382 0 3.555-.027 3.555-.532 0-.504-.173-.53-3.555-.53-2.123 0-3.628.106-3.727.265Zm-.074 3.107c.074.425.469.478 4.023.478 3.555 0 3.95-.053 4.024-.478.074-.425-.247-.451-4.024-.451-3.776 0-4.097.026-4.023.451Zm.222 1.912c-.197.133-.271.425-.197.664.123.372.691.425 3.752.425 3.06 0 3.628-.053 3.752-.425.246-.717-.445-.903-3.752-.903-1.753 0-3.357.106-3.555.24Zm-1.012 2.018c-.691.797-1.012.824-1.604.133-.494-.584-1.358-.717-1.358-.212 0 .186.296.664.666 1.062l.667.744-.815.903c-.765.85-.864 1.487-.197 1.487.148 0 .617-.372 1.037-.797l.765-.797.592.664c.593.69 1.481.903 1.481.345 0-.185-.296-.663-.666-1.062l-.667-.743.692-.77c.42-.479.641-.957.567-1.196-.222-.584-.493-.53-1.16.24Zm1.753 2.232c-.297.212-.297.318-.05.663.297.372 1.086.425 5.43.425 2.79 0 5.234-.106 5.431-.24.197-.132.272-.424.197-.663-.148-.372-.814-.425-5.405-.425-2.888 0-5.406.106-5.603.24ZM8.475 16.986c-1.11.637-1.506 2.178-.74 2.868.493.425.79.106.913-.93.099-1.008.864-1.22 1.431-.371.272.372.568.531.84.425.567-.24.493-.664-.321-1.54-.765-.824-1.308-.93-2.123-.452Zm.321 3.24c-1.481.451-2.79.983-2.962 1.169-.198.212-.346 1.38-.395 3.319-.074 2.496.024 3.4.543 5.603.814 3.4 1.308 4.435 2.295 4.86.667.292.84.266 1.185-.106.519-.558.395-1.832-.493-4.86-.37-1.301-.716-3.266-.815-4.647-.148-1.912-.247-2.39-.568-2.47-.962-.186-.765 3.4.37 7.701.815 3.028.815 2.922.47 3.054-.618.24-2.05-5.895-2.025-8.683.05-2.975.025-2.948 2.888-3.851 2.543-.824 3.185-1.195 2.913-1.7-.247-.398-.395-.372-3.406.611Z" />
                                    <path d="M10.203 22.67c-1.926.637-1.926.637-1.012 4.089.444 1.673 1.135 4.302 1.505 5.842.617 2.47.84 2.922 1.827 4.063 2.049 2.364 2.493 2.258 2.962-.584l.32-1.859-1.505-5.39c-.84-2.975-1.629-5.657-1.752-6.003-.272-.663-.642-.69-2.345-.159Zm2.912 6.027c1.333 4.78 1.63 6.454 1.26 7.463-.223.637-.47.531-1.309-.584-.592-.824-1.037-2.125-2.073-6.241L9.66 24.13l.642-.266c1.332-.53 1.308-.557 2.813 4.834Z" />
                                    <path d="M12.82 34.274c-.346.452-.1.717.616.717.519 0 .963-.584.667-.903-.272-.292-.988-.159-1.284.186Zm-9.775-8.631C1.243 26.838.23 28.857.033 31.698c-.173 2.39.321 4.143 1.679 5.763 1.95 2.39 4.838 3.187 7.874 2.125 1.357-.478 2.863-1.753 2.591-2.205-.246-.425-1.012-.292-1.48.266-.247.292-1.062.744-1.802.956-3.283 1.036-6.443-.69-7.578-4.116-.47-1.46-.47-2.497.024-4.302.494-1.78 1.358-3.054 2.469-3.639.518-.265.839-.584.79-.823-.124-.61-.716-.637-1.555-.08Zm23.597 5.497c-6.788 1.328-11.206 5.392-12.86 11.845-.47 1.885-.494 2.602-.444 11.95l.074 9.932 15.994.08 15.97.053V54.988c0-11.233-.073-11.79-1.752-15.694-2.79-6.48-9.355-9.64-16.982-8.153Zm7.602 1.355c3.777.903 6.739 3.506 8.442 7.41 1.53 3.531 1.703 4.992 1.703 15.136v8.897H14.275v-9.11c0-8.232.05-9.32.494-11.18.667-2.814 1.802-5.045 3.58-6.93 1.727-1.886 3.702-3.081 6.367-3.851 3.678-1.089 6.147-1.195 9.528-.372Z" />
                                    <path d="M29.21 36.903c-.075.186-.445 1.302-.84 2.47l-.716 2.125-1.925.132c-1.136.08-1.95.266-2 .452-.049.16.568.797 1.383 1.407.839.585 1.505 1.195 1.505 1.328s-.32 1.222-.716 2.417c-1.06 3.187-.888 3.293 1.95 1.142l1.975-1.487 1.753 1.38c1.555 1.222 2.443 1.514 2.443.85 0-.133-.271-1.115-.617-2.177-.345-1.063-.617-2.019-.617-2.125 0-.106.494-.557 1.11-1.035 1.457-1.142 1.926-1.647 1.68-1.913-.1-.106-1.013-.239-2.025-.292l-1.826-.08-.765-2.39c-.519-1.646-.889-2.416-1.21-2.47-.222-.052-.469.054-.543.266Zm1.233 3.718.568 1.939 1.259-.08c.69-.053 1.259.027 1.259.16 0 .132-.445.557-.988.929l-.962.717.493 1.514c.247.823.445 1.62.42 1.726-.05.106-.666-.266-1.382-.85l-1.308-1.062-1.358 1.089c-.765.584-1.432 1.009-1.506.93-.074-.08.124-.877.42-1.754.296-.876.518-1.646.469-1.7-.05-.052-.543-.398-1.086-.77l-.988-.716h2.543l.69-2.125c.371-1.168.717-2.071.79-2.018.05.053.346.983.667 2.071Z" />
                                </svg>

                            </i>
                            <p>
                                Prostectos

                            </p>

                        </NavLink>
                    </li>
                    <li class="nav-item" style="margin-bottom: 10px;">
                        <NavLink class="nav-link" style="padding: 1rem 1rem; " href="trabajadores">
                            <i class="nav-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" class="nav-icon" style="height:55px; width:55px; margin-left:-15px;" viewBox="0 0 65 66">
                                    <path 1rem d="M16.392.378C9.117 2.013 4.029 8.791 4.582 16.068c.58 7.886 7.065 13.977 14.868 13.977 4.19 0 7.75-1.45 10.675-4.35 5.694-5.644 5.905-14.821.501-20.728C27.015 1.064 21.347-.756 16.392.378Zm6.827 1.345c8.593 2.558 12.626 11.656 8.646 19.594-2.451 4.878-7.802 7.99-13.18 7.568-7.433-.527-12.89-6.408-12.89-13.87 0-3.877 1.16-6.7 3.875-9.52 2.794-2.901 5.72-4.167 9.727-4.167 1.476-.027 2.926.132 3.822.395Zm-7.443 29.471C7.65 32.522 2.506 36.377.547 42.581c-.555 1.813-.584 2.502-.526 11.49l.088 9.548 12.218.077c11.546.051 12.218.026 12.13-.383-.087-.434-.876-.46-11.72-.536l-11.605-.051v-8.783c0-9.779.205-11.106 2.105-14.272 1.198-2.017 3.975-4.417 6.226-5.464 3.536-1.634 9.178-2.553 12.802-2.12 6.928.843 10.932 2.86 13.183 6.64.585.97 1.286 1.786 1.52 1.786 1.316 0-.701-3.497-3.127-5.489-2.017-1.634-4.502-2.732-7.717-3.447-3.07-.69-7.542-.868-10.348-.383Z" />
                                    <path 1rem d="M17.94 32.777c-.556.358-1.316 1.583-1.316 2.094 0 .28.555 1.149 1.199 1.94 1.11 1.277 1.315 1.404 2.338 1.404.994 0 1.228-.127 2.484-1.583l1.374-1.582-.701-1.175-.702-1.149-2.192-.076c-1.198-.026-2.338.025-2.485.127Zm4.062 1.251c.264.205.468.51.468.639 0 .485-1.783 2.527-2.192 2.527-.556 0-2.192-1.813-2.192-2.425 0-.307.146-.664.35-.843.526-.46 3.011-.383 3.566.102Zm-2.397 4.775c-.614.638-6.518 13.557-6.401 13.966.204.663 6.46 9.165 6.84 9.293.409.153 4.53-4.162 4.384-4.57-.263-.69-1.11-.281-2.426 1.25-.79.92-1.549 1.635-1.724 1.61-.41-.128-5.671-7.38-5.7-7.864 0-.23 1.227-3.013 2.747-6.23l2.748-5.847.438.894c.205.485.965 2.17 1.666 3.753.731 1.685 1.491 2.987 1.813 3.14.935.434.643-.766-1.316-5.132-1.812-4.034-2.455-4.927-3.069-4.263Zm22.537.025c-1.637.46-2.952 1.2-4.21 2.375-1.373 1.276-2.016 2.119-2.016 2.68 0 .843.79.486 1.988-.919a9.957 9.957 0 0 1 8.623-3.37c2.513.307 4.267 1.404 6.518 4.136.526.613.701.69 1.023.409.322-.256.292-.485-.175-1.251-.819-1.302-2.777-2.987-4.268-3.677-1.608-.715-5.583-.919-7.483-.383Z" />
                                    <path 1rem d="M42.493 41.152c-1.14.357-3.362 2.119-3.362 2.68 0 .69.965.562 1.666-.23 1.053-1.148 2.31-1.633 4.326-1.659 2.047-.025 3.187.46 4.18 1.787l.643.868h-11.78c-8.768 0-11.867.077-12.13.307-.263.23-.35 2.91-.35 10.468 0 9.804.029 10.161.555 10.417.409.178 6.84.23 19.672.204L65 65.917V44.726l-7.22-.077c-6.694-.05-7.19-.102-7.044-.51.204-.69-1.082-2.12-2.514-2.783-1.52-.69-3.888-.766-5.73-.204Zm21.192 14.17v9.446H27.147V45.875h36.538v9.447Z" />
                                    <path 1rem d="M27.878 46.973c-.088.153-.117 4.11-.088 8.732.088 7.787.117 8.425.614 8.502.467.076.497-.46.497-8.732 0-7.762-.059-8.834-.439-8.834-.263 0-.526.153-.584.332Zm33.907 0c-.088.153-.117 4.11-.088 8.732.088 7.787.117 8.425.614 8.502.468.076.497-.46.497-8.732 0-7.762-.059-8.834-.439-8.834-.263 0-.526.153-.584.332Z" />
                                </svg>

                            </i>
                            <p style="text-align:left;">
                                P y T

                            </p>

                        </NavLink>
                    </li>

                    <li class="nav-item" style="margin-bottom: 10px;">
                        <NavLink class="nav-link" style="padding: 1rem 1rem; " href="materiales">
                            <i class="nav-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" class="nav-icon" style="height:55px; width:55px; margin-left:-15px;" viewBox="0 0 65 63">
                                    <path d="M20.017.133c-.196.139-.697.86-1.133 1.635-.545.97-1.134 1.608-1.984 2.134-1.242.776-1.351.998-1.918 3.575a22.968 22.968 0 0 1-.872 2.8c-.48 1.191-.742 1.496-1.984 2.245-1.112.692-1.526 1.108-1.94 2.05-.306.666-.589 1.442-.654 1.747-.066.304-.24 1.08-.371 1.746-.196.997-.37 1.247-1.308 1.857-1.373.886-1.831 1.773-1.853 3.575 0 1.053.087 1.413.349 1.496.283.056.37-.221.48-1.358.152-1.69.326-1.968 1.59-2.771 1.156-.693 1.461-1.247 1.81-3.298.349-2.19.894-3.049 2.573-4.157 1.242-.804 1.57-1.192 2.07-2.356.328-.776.764-2.19.96-3.188.458-2.189.588-2.438 1.744-3.076.501-.25 1.199-.942 1.526-1.497.349-.554.785-1.274.98-1.607l.35-.554.763.582c.545.415 1.111.61 1.918.61 1.003 0 1.243.11 1.984.97.741.83 1.003.97 1.962.97 1.243 0 3.553.665 4.23 1.247.392.305.893 1.912 1.285 4.101.131.666.458.97 2.18 1.996 2.071 1.247 2.355 1.607 2.856 3.908.066.388.633.859 1.744 1.469 1.744.97 2.18 1.58 2.398 3.242.24 1.857.305 1.968 1.374 2.467.567.277 1.33.942 1.722 1.469.37.527.785.86.916.748.697-.526-.219-2.078-1.832-3.048-1.024-.61-1.199-.832-1.199-1.47 0-.415-.218-1.33-.501-1.995-.414-1.08-.698-1.386-2.093-2.217-1.482-.942-1.635-1.08-2.07-2.439-.633-1.885-.786-2.05-2.813-3.104-1.395-.72-1.7-1.026-1.81-1.608-.523-2.854-1.002-4.101-1.874-4.656-.916-.61-3.772-1.496-4.775-1.496-.588 0-.915-.194-1.351-.832-.545-.748-.72-.831-1.919-.831-.937 0-1.504-.139-1.896-.499-.829-.72-1.221-.86-1.614-.582Z" />
                                    <path d="M27.432 6.405c-.595.237-1.432.563-1.828.682-.882.326-1.014.474-.816.889.199.445 1.212.415 2.314-.119 1.476-.711 1.85-.592 2.512.741.617 1.245.947 1.483 1.145.742.155-.504-.88-2.698-1.476-3.143-.485-.326-.485-.326-1.85.208Zm-8.88 3.802c-1.388.06-1.608.148-1.542.593.066.415.374.534 1.763.593 1.63.089 1.718.118 2.093.948.374.89 1.168 1.216 1.168.504 0-.622-1.058-2.49-1.477-2.608-.22-.06-1.123-.09-2.005-.03Zm10.357 6.877c-.86.712-1.807 3.083-1.41 3.617.264.355.925-.148.925-.77 0-.179.242-.742.529-1.216.528-.86.594-.89 2.908-1.038 2.05-.118 2.402-.207 2.468-.682.066-.444-.154-.504-2.314-.504-1.983 0-2.49.09-3.107.593Zm30.01.949c-.992.326-2.071 2.075-2.071 3.32 0 2.194 1.74 2.55 3.172.652.904-1.245 1.146-2.371.706-3.29-.397-.8-.904-1.008-1.807-.682Zm1.013 1.66c0 .741-1.123 2.134-1.718 2.134-.683 0-.617-.77.154-1.808.75-.978 1.564-1.156 1.564-.326ZM17.495 18.24c-1.785.208-2.203.564-3.063 2.639-1.101 2.638-.352 2.994.926.415l.837-1.69 1.939-.178c1.917-.178 2.556-.504 2.27-1.126-.155-.326-.331-.356-2.909-.06Zm17.398 2.208c-.396.622.088 1.008 1.014.8.837-.178 1.719.386 2.622 1.66.66.92 1.013.949 1.013.06 0-.534-1.123-2.105-1.916-2.668-.728-.504-2.38-.415-2.733.148Zm27.309.787c-1.763 1.452-1.807 4.742-.044 4.742 1.167 0 2.842-2.193 2.842-3.735 0-1.512-1.52-2.075-2.798-1.008Zm1.696 1.185c0 .86-.97 2.075-1.652 2.075-.309 0-.551-.089-.551-.237.022-.534.639-1.66 1.124-2.016.749-.563 1.08-.504 1.08.178Zm-12.537 5.336c-3.283 3.35-4.65 4.92-4.65 5.336 0 .326.067.593.133.593.309 0 1.366-.979 5.354-5.099 3.966-4.09 5.09-5.573 4.143-5.573-.177 0-2.424 2.134-4.98 4.743ZM5.574 25.888c-.881.475-.066 1.453 6.853 8.212 5.442 5.306 7.315 6.995 7.8 6.995.683 0 23.863-4.06 23.95-4.209.508-.682 4.738-10.494 4.65-10.79-.11-.356-3.503-.415-21.55-.385-11.787 0-21.57.088-21.703.177Zm41.799 1.275c0 .208-3.548 8.122-3.812 8.478-.066.09-21.836 3.943-22.916 4.061-.594.06-1.608-.83-7.05-6.166l-6.368-6.225 17.385-.148c9.54-.089 18.574-.178 20.073-.237 1.63-.03 2.688.06 2.688.237Z" />
                                    <path d="M54.071 31.491c-3.26 3.202-5.971 5.929-6.037 6.077-.066.119-6.94 1.453-15.27 2.935-8.328 1.482-15.38 2.816-15.688 2.964-.286.148-2.6 1.868-5.112 3.794L7.381 50.79l-2.776.622c-1.52.356-2.82.653-2.908.653-.089 0-.089-.415 0-.89.088-.681.044-.889-.22-.889-.463 0-1.477 1.808-1.477 2.609 0 .86.573.86 4.605-.09l3.173-.74 4.87-3.765 4.869-3.735 15.203-2.698 15.204-2.697 6.346-6.196c5.97-5.84 6.808-6.818 5.97-7.203-.11-.06-2.886 2.52-6.169 5.721Z" />
                                    <path d="M8.66 37.805c-2.27 1.097-4.341 3.617-5.245 6.373-.286.83-.639 2.49-.77 3.706-.243 1.927-.221 2.223.087 2.668.507.652.705.178.86-2.046.374-4.772 2.6-8.36 5.97-9.663 2.424-.92 5.465.059 7.426 2.43 1.256 1.482 1.52 1.601 1.52.593 0-.8-1.08-2.223-2.38-3.112-2.29-1.571-5.376-1.957-7.469-.949ZM40.498 41.6c-.484.177-.484.177-1.167 6.432l-.595 5.277.903 3.172c.507 1.719.903 3.32.903 3.527 0 .267-.859.356-3.525.356h-3.503l-4.672-8.004c-3.194-5.454-4.803-8.004-5.09-8.004-.286 0-.396.178-.352.475.11.77 9.276 16.333 9.805 16.689.705.445 8.13.06 8.461-.445.154-.267-.066-1.363-.793-3.913-.551-1.926-.992-3.972-.97-4.535 0-.563.22-2.935.485-5.306l.485-4.269.881-.356c.485-.177.882-.504.882-.74 0-.416-1.367-.653-2.138-.357Z" />
                                    <path d="M38.273 41.896c-.066.148-.419 2.371-.816 4.95-.616 4.21-.682 4.921-.462 6.374.132.889.176 1.69.11 1.778-.066.09-.925.237-1.917.267l-1.807.119-3.503-5.81c-2.314-3.854-3.636-5.81-3.856-5.751-.198.059-.33.326-.33.593.021.444 6.5 11.264 7.227 12.065.22.266.925.266 2.666.088 2.401-.266 2.886-.563 2.622-1.541-.419-1.512-.309-4.476.286-8.448.353-2.313.617-4.328.55-4.536-.087-.385-.616-.474-.77-.148ZM9.232 43.111c-.903.623-1.344 1.186-1.894 2.402-.794 1.778-1.124 3.705-.728 4.327.42.682.882.178.882-.919 0-2.134 1.41-4.535 3.04-5.157 1.19-.445 1.697-.386 2.931.326.771.474 1.168.563 1.344.326.33-.445.022-.949-1.014-1.571-1.388-.83-3.128-.742-4.56.266Zm9.938 2.935c0 .296.154 1.186.33 1.986.793 3.498.132 7.174-1.807 9.96-2.644 3.854-6.544 4.832-9.827 2.431-1.212-.89-3.04-3.439-3.701-5.128-.485-1.275-1.08-1.542-1.08-.474 0 1.778 2.842 5.928 4.958 7.203 2.666 1.66 6.323 1.156 8.835-1.156 1.432-1.305 2.975-4.091 3.504-6.285.55-2.312.55-5.424-.023-7.41-.44-1.483-1.19-2.224-1.19-1.127Z" />
                                    <path d="M15.512 47.113c-.066.237 0 1.038.132 1.808.551 3.38-1.41 6.7-3.966 6.7-1.058 0-2.512-.949-3.107-2.046-.396-.711-.55-.83-.903-.593-.397.297-.397.327-.022 1.216.617 1.393 2.358 2.608 3.79 2.608 2.38 0 4.032-1.363 4.935-4.12.617-1.897.33-5.958-.418-5.958-.177 0-.375.178-.441.385ZM38.36 57.192c-.396 1.393-.374 2.579.067 2.579.33 0 .793-1.453.793-2.55 0-.918-.617-.918-.86-.03Z" />
                                </svg>
                            </i>
                            <p>
                                Materiales

                            </p>

                        </NavLink>
                    </li>

                    <li class="nav-item" style="margin-bottom: 10px;">
                        <NavLink class="nav-link" style="padding: 1rem 1rem; " href="clientes">
                            <i class="nav-icon" style="color:white">

                                <svg xmlns="http://www.w3.org/2000/svg" class="nav-icon" style="height:55px; width:55px; margin-left:-15px;" viewBox="0 0 60 55">
                                    <path d="M9.478 1.114C8.607 3.042 0 24.668 0 24.94c0 .451.914 1.445 2.933 3.222 1.53 1.326 2.04 1.627 2.252 1.356.553-.633 10.116-23.674 10.116-24.337 0-.481-.32-.933-1.106-1.626a146.322 146.322 0 0 1-2.486-2.259C10.965.572 10.285 0 10.18 0c-.106 0-.425.512-.701 1.114Zm2.911 2.53c.956.844 1.785 1.597 1.828 1.657.063.09-8.373 20.36-9.223 22.168-.213.482-.404.391-1.934-.934-.914-.783-1.679-1.627-1.679-1.867 0-.573 8.82-22.56 9.053-22.56.106 0 .978.693 1.955 1.536Zm35.167-1.382c-1.127 1.054-2.104 2.168-2.168 2.5-.106.452 1.105 3.765 4.442 12.168 2.528 6.325 4.717 11.716 4.866 11.927.234.362.68.12 2.699-1.355 1.317-.964 2.486-1.958 2.592-2.23.15-.36-.998-3.402-4.802-12.65C52.443 5.937 50.063.426 49.915.395c-.17-.03-1.212.814-2.36 1.868Zm6.821 11.204c2.465 5.994 4.484 10.994 4.484 11.144 0 .241-3.612 2.922-3.719 2.741-.34-.602-8.606-21.836-8.606-22.107 0-.452 3.039-3.163 3.23-2.892.064.12 2.146 5.12 4.611 11.114ZM29.326 6.974c-1.7.241-5.122 1.325-6.418 2.048-.34.18-.999 1.205-1.658 2.59-.595 1.265-1.891 3.494-2.89 4.97-.977 1.476-1.785 2.831-1.785 3.012 0 .572.787 2.53 1.275 3.163.723.933 2.55.813 4.08-.241 1.467-1.024 3.316-3.344 4.144-5.18.999-2.29 2.232-2.47 5.355-.754 2.976 1.657 7.29 5.843 13.367 13.012 1.785 2.138 3.336 3.855 3.464 3.855.106 0 .956-.994 1.913-2.199.956-1.174 1.954-2.41 2.23-2.71.617-.663.638-1.506.128-2.56-.212-.452-1.806-4.488-3.549-8.946-1.742-4.488-3.208-8.223-3.293-8.373-.064-.12-1.424-.271-2.997-.362-2.826-.15-3.697-.27-7.289-1.174-2.018-.512-3.23-.542-6.077-.15Zm6.545 1.777c2.21.603 7.097 1.295 8.33 1.145l.744-.09 3.336 8.433c1.828 4.638 3.315 8.644 3.294 8.945-.043.452-3.018 4.458-3.315 4.458-.085 0-1.041-1.084-2.146-2.44-4.93-5.964-10.2-11.295-12.963-13.102-.872-.602-1.743-1.174-1.934-1.325-.659-.482-2.805-.964-3.528-.753-1.253.331-1.742.783-2.422 2.29-1.36 3.041-4.102 5.692-5.844 5.692-.595 0-1.573-1.235-1.573-1.988 0-.271.701-1.536 1.573-2.831.85-1.265 2.04-3.344 2.635-4.579l1.084-2.289 1.657-.602c4.165-1.566 7.863-1.898 11.072-.964Z" />
                                    <path d="M15.106 9.167c-.468.813-8.097 18.644-8.097 18.945 0 .331 2.04 3.554 2.487 3.915.19.15.595.06 1.04-.24 1-.663 1.616-.422 3.146 1.264l1.275 1.386 1.02-.813c2.04-1.627 3.294-.994 4.399 2.198.489 1.416.68 1.687 1.636 2.169 1.53.813 2.04 1.717 2.168 3.735.085 1.656.106 1.686 1.084 2.41.53.39 1.253 1.114 1.615 1.656.68 1.024.786 2.289.425 5.03l-.15 1.235 1.446.662c1.615.723 4.293 1.085 5.483.783.977-.27 2.295-1.867 2.21-2.68-.043-.392-.808-1.145-2.55-2.44-2.806-2.078-3.528-2.74-3.337-3.042.085-.09 1.084.482 2.232 1.295 1.168.813 3.08 1.928 4.25 2.47 2.104.934 2.167.964 2.911.452 1.063-.693 1.36-1.898.914-3.554-.319-1.205-.468-1.386-2.168-2.47-1.955-1.235-5.397-4.247-5.397-4.699 0-.391.042-.361 1.593.964 2.168 1.867 6.29 4.699 7.162 4.94 2.274.602 3.485-1.326 2.635-4.217-.255-.843-.638-1.265-1.998-2.229-2.103-1.506-6.842-5.964-6.842-6.476 0-.421.467-.12 1.636 1.055 1.615 1.596 5.376 4.789 7.31 6.174 1.254.874 1.7 1.054 2.38.934 1.212-.241 1.849-1.205 1.849-2.801 0-1.536-.361-2.109-3.676-5.783-3.995-4.398-8.82-8.855-14.153-13.072-2.827-2.199-3.464-2.5-3.592-1.687-.042.332.234.753.85 1.235.51.392 2.168 1.717 3.677 2.922 4.909 3.915 11.263 10.09 15.258 14.849.935 1.114.68 2.921-.425 2.921-.85 0-4.845-3.102-8.67-6.747-1.042-.993-2.083-1.776-2.317-1.746-.956.09-1.509 1.777-.914 2.83.468.874 4.74 4.94 6.716 6.386 1.508 1.114 1.955 1.596 2.06 2.199.213 1.084-.148 1.717-1.02 1.837-.573.06-1.423-.392-3.697-2.018-1.615-1.145-3.57-2.65-4.314-3.343-1.168-1.054-1.445-1.205-1.848-.934-.51.331-.808 1.386-.68 2.35.106.752 2.635 3.192 5.163 4.939 2.72 1.898 3.21 2.74 2.168 3.735-.446.421-.659.361-2.486-.452-1.084-.512-2.912-1.596-4.038-2.41-2.295-1.686-2.805-1.807-3.273-.843-.828 1.687-.297 2.53 3.252 5.18 1.934 1.416 2.125 1.627 1.806 2.019-.892 1.054-6.673.27-6.354-.844.276-1.084.34-2.77.128-3.915-.255-1.295-1.7-3.464-2.657-4.006-.382-.21-.51-.542-.595-1.627-.085-.843-.34-1.777-.68-2.44-.552-1.023-1.934-2.258-2.529-2.258-.148 0-.51-.693-.786-1.536-.276-.843-.871-1.988-1.317-2.56-.702-.904-.957-1.024-1.934-1.024-.638 0-1.488.27-2.019.602l-.935.602-1.147-1.174c-1.34-1.356-2.36-1.717-3.4-1.235-.723.361-.766.331-1.467-.813-.404-.633-.722-1.265-.744-1.386 0-.21 7.077-16.867 7.417-17.439.085-.12 1.062.21 2.21.723 1.615.753 2.104.903 2.316.602.425-.602-.149-1.084-2.38-2.138-2.316-1.054-2.401-1.084-2.741-.512Z" />
                                    <path d="M9.561 33.325C8.074 35.222 7.5 37.752 8.16 39.409c.36.934 1.381 1.867 2.061 1.867 1.402 0 3.273-3.223 3.273-5.632 0-1.687-.914-3.072-2.168-3.313-.765-.15-.956-.03-1.764.994Zm2.53 1.204c.552 1.024.552 1.476-.043 2.952-.68 1.717-1.488 2.47-2.21 2.108-1.212-.602-1.17-2.68.063-4.638.914-1.416 1.573-1.536 2.19-.422Zm4.061-.242c-1.7 1.295-4.038 6.626-4.038 9.217 0 1.747.255 2.44 1.105 3.072 1.382 1.024 2.763.03 4.314-3.012 1.296-2.59 2.019-4.88 2.019-6.476 0-1.084-.128-1.476-.723-2.319-.828-1.175-1.55-1.325-2.677-.482Zm1.955 1.476c.595.753.468 2.199-.404 4.638-.956 2.59-2.571 5.09-3.294 5.09-1.636 0-1.679-2.53-.085-6.144 1.063-2.41 2.295-4.096 2.975-4.096.234 0 .595.21.808.512Zm1.34 5.589c-2.19 3.163-3.38 7.35-2.635 9.307.297.813 1.423 1.416 2.21 1.205 1.615-.422 4.611-6.566 4.654-9.578.02-1.807-.723-2.831-2.062-2.831-.786 0-.999.18-2.167 1.898Zm3.081.211c.404 1.085-.383 3.856-1.891 6.566-1.552 2.741-2.997 3.133-2.997.783 0-2.41 2.827-7.951 4.06-7.951.382 0 .68.21.828.602Zm1.144 4.497c-.765.662-1.87 3.072-2.21 4.819-.32 1.687.106 3.072 1.147 3.765.638.422.914.452 1.488.18 1.423-.662 2.89-3.885 2.89-6.355 0-1.235-.085-1.536-.659-2.198-.786-.934-1.721-1.024-2.656-.211Zm2.146 1.686c.68 1.506-1.36 6.205-2.486 5.723-.702-.301-1.063-1.084-.914-1.958.425-2.41 1.7-4.608 2.571-4.457.319.06.68.361.829.692Z" />
                                </svg>

                            </i>
                            <p>
                                Clientes

                            </p>

                        </NavLink>
                    </li>
                </ul>
            </nav>

            <!-- /.sidebar-menu -->
        </div>


        <!-- /.sidebar -->
    </aside>

</div>


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

