@inherits LayoutComponentBase
<body class="sidebar-mini-xs">

<div class="page">
    <div class="sidebar">
        <Sidebar/>
    </div>

        <main class="" style="margin-left:0px;">
        <div class="">

            <NavBar/>

        </div>

        <article class="content">
            @Body
        </article>

        <div class="footer">
            Footer
        </div>
    </main>
</div>

</body>


