@inherits LayoutComponentBase

<body class="sidebar-mini-xs layout-fixed">

<div class="page">

        <main class="" style="margin-left:0px;">

        <article class="" st>
            @Body
        </article>

    </main>
</div>

</body>


