@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            <a class="nav-link" data-widget="control-sidebar" href="#">Toggle Control Sidebar</a>
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </div>

        <article class="content px-4">
            @Body
        </article>

        <div class="footer">
            Footer
        </div>
    </main>
</div>


