.page[b-t2qdwlkxs7] {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

main[b-t2qdwlkxs7] {
    flex: 1;
    display: grid;
    min-height: 100vh;
    background-color: #F9F9F9;

    grid-template-rows: 10% 70% 20%;
}

.sidebar[b-t2qdwlkxs7] {
    background-color: #FFFFFF;
    border-right-style: solid;
    border-right: 1;
    border-right-color: #EFF0F6;
    margin: 0;

}

.footer[b-t2qdwlkxs7] {
    background-color: #F9F9F9;
    border-bottom: 1px solid #d6d5d5;
    grid-row: 3;
    grid-column: 1;
    height: 3.5rem;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
}

.navbar-brand[b-t2qdwlkxs7] {
    color: black;
}

.content[b-t2qdwlkxs7] {

    grid-row: 2;
    grid-column: 1;
    width: 100%;

    
}

.top-row[b-t2qdwlkxs7] {
    grid-row: 1;
    grid-column: 1;
    background-color: #f7f7f7;

    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-t2qdwlkxs7]  a, .top-row[b-t2qdwlkxs7]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-t2qdwlkxs7]  a:hover, .top-row[b-t2qdwlkxs7]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-t2qdwlkxs7]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-t2qdwlkxs7] {
        display: none;
    }

    .top-row.auth[b-t2qdwlkxs7] {
        justify-content: space-between;
    }

    .top-row[b-t2qdwlkxs7]  a, .top-row[b-t2qdwlkxs7]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-t2qdwlkxs7] {
        flex-direction: row;
    }

    .sidebar[b-t2qdwlkxs7] {
        width: 90px;
        height: 100vh;
        left: 0;


        top: 0;
    }

    .top-row[b-t2qdwlkxs7] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-t2qdwlkxs7], article[b-t2qdwlkxs7] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
