/* /Pages/Menu.razor.rz.scp.css */
.top-nav-child[b-9349i5zdvy],
.top-nav-item[b-9349i5zdvy] {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.top-nav-child[b-9349i5zdvy] {
    height: 57.14%;
    width: 2.34%;
    top: 21.43%;
    right: 1.86%;
    bottom: 21.43%;
    left: 95.8%;
    border-radius: var(--br-xl);
    object-fit: cover;
    display: none;
}

.top-nav-item[b-9349i5zdvy] {
    height: 0.87%;
    width: 100%;
    top: 99.57%;
    right: 0;
    bottom: -0.43%;
    left: 0;
}

.title1[b-9349i5zdvy] {
    position: relative;
    line-height: 32px;
}

.title[b-9349i5zdvy] {
    top: 12px;
    left: 20px;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.dco[b-9349i5zdvy],
.title[b-9349i5zdvy],
.top-nav[b-9349i5zdvy] {
    position: relative;
}

.top-nav[b-9349i5zdvy] {
    top: 0;
    left: 0;
    background-color: var(--white);
    box-shadow: 0-2px 5px -8px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--color-ghostwhite);
    box-sizing: border-box;
    width: 1440px;
    height: 115px;
}

.dco[b-9349i5zdvy] {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    top: calc(50% - 32.96px);
    left: 65.86px;
    font-size: 43px;
    font-weight: 500;
    font-family: var(--font-poppins);
    color: #030303;
    text-align: center;
    display: inline-block;
    transform: rotate(0.55deg);
    transform-origin: 0 0;
}

.adco-1-icon[b-9349i5zdvy] {
    position: relative;
    top: 0.01px;
    left: 0.01px;
    border-radius: var(--br-12xs);
    width: 64.97px;
    height: 54.2px;
    object-fit: cover;
}

.dco-parent[b-9349i5zdvy],
.main-child[b-9349i5zdvy] {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
}

.dco-parent[b-9349i5zdvy] {
    top: calc(50% - 487px);
    left: 43px;
    width: 163.85px;
    height: 65.93px;
}

.main-child[b-9349i5zdvy] {
    height: 6.25%;
    width: 4.38%;
    top: 2.54%;
    right: 2.78%;
    bottom: 91.21%;
    left: 92.85%;
    border-radius: 110px;
    background-image: url(./public/rectangle1650@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.main-inner[b-9349i5zdvy],
.main-item[b-9349i5zdvy] {
    position: relative;
    top: 893.76px;
    left: 356.83px;
    width: 144.34px;
    height: 130.24px;
}

.main-inner[b-9349i5zdvy] {
    top: 892.5px;
    left: 398.5px;
    width: 527.5px;
    height: 131.5px;
}

.main-child1[b-9349i5zdvy],
.main-child2[b-9349i5zdvy],
.vector-icon[b-9349i5zdvy] {
    position: relative;
    top: 893.5px;
    left: 931.71px;
    width: 508.5px;
    height: 130.5px;
}

.main-child1[b-9349i5zdvy],
.main-child2[b-9349i5zdvy] {
    top: 893px;
    left: 0;
    width: 462.5px;
}

.main-child2[b-9349i5zdvy] {
    top: 893.15px;
    left: 905.06px;
    width: 50.87px;
    height: 130.85px;
}

.main-child3[b-9349i5zdvy],
.main-child4[b-9349i5zdvy],
.main-child5[b-9349i5zdvy] {
    position: relative;
    top: 854px;
    left: 1px;
    width: 1439px;
    height: 2px;
}

.main-child4[b-9349i5zdvy],
.main-child5[b-9349i5zdvy] {
    top: 141px;
    left: 0;
}

.main-child5[b-9349i5zdvy] {
    top: 489px;
    left: 46px;
    width: 346px;
}

.main-child6[b-9349i5zdvy],
.main-child7[b-9349i5zdvy],
.main-child8[b-9349i5zdvy],
.main-child9[b-9349i5zdvy] {
    position: relative;
    top: 595px;
    left: 958px;
    width: 2px;
    height: 218px;
}

.main-child7[b-9349i5zdvy],
.main-child8[b-9349i5zdvy],
.main-child9[b-9349i5zdvy] {
    left: 485px;
}

.main-child8[b-9349i5zdvy],
.main-child9[b-9349i5zdvy] {
    top: 170px;
    left: 958px;
}

.main-child9[b-9349i5zdvy] {
    left: 485px;
}

.ellipse-icon[b-9349i5zdvy],
.main-child10[b-9349i5zdvy],
.main-child11[b-9349i5zdvy] {
    position: relative;
    top: 489px;
    left: 590px;
    width: 280px;
    height: 2px;
}

.ellipse-icon[b-9349i5zdvy],
.main-child11[b-9349i5zdvy] {
    left: 1055px;
    width: 352px;
}

.ellipse-icon[b-9349i5zdvy] {
    top: 420px;
    left: 887px;
    width: 143px;
    height: 143px;
}

.main-child12[b-9349i5zdvy],
.main-child13[b-9349i5zdvy] {
    position: relative;
    top: 438px;
    left: 905px;
    width: 107px;
    height: 107px;
}

.main-child13[b-9349i5zdvy] {
    top: 418px;
    left: 414px;
    width: 143px;
    height: 143px;
}

.fecha[b-9349i5zdvy],
.main-child14[b-9349i5zdvy] {
    position: relative;
    top: 436px;
    left: 432px;
    width: 107px;
    height: 107px;
}

.fecha[b-9349i5zdvy] {
    top: 116px;
    left: 5493px;
    font-size: var(--overline-size);
    letter-spacing: 0.03em;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-black);
    display: flex;
    align-items: center;
    width: 32px;
    height: 19px;
}

.btn-proyectos-icon[b-9349i5zdvy] {
    position: relative;
    height: 102.91%;
    width: 101.88%;
    top: -1.37%;
    right: -1.06%;
    bottom: -1.54%;
    left: -0.82%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.pr-ico-icon[b-9349i5zdvy],
.projects[b-9349i5zdvy] {
    position: relative;
    left: 29.8%;
}

.projects[b-9349i5zdvy] {
    top: 79.11%;
    font-size: var(--header-h2-size);
    line-height: 32px;
    font-family: var(--overline);
    background: linear-gradient(#f0f1f5, #f0f1f5), linear-gradient(-45deg, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
}

.pr-ico-icon[b-9349i5zdvy] {
    height: 52.4%;
    width: 36.04%;
    top: 13.01%;
    right: 34.16%;
    bottom: 34.59%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.btn-menu-proyecto1[b-9349i5zdvy] {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


.btn-trabajadores-icon[b-9349i5zdvy] {
    position: relative;
    height: 102.92%;
    width: 101.89%;
    top: -1.37%;
    right: -1.06%;
    bottom: -1.55%;
    left: -0.83%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.proveedores-y[b-9349i5zdvy] {
    margin: 0;
}

.providers[b-9349i5zdvy] {
    position: relative;
    top: 69.76%;
    left: 23.88%;
    font-size: var(--header-h2-size);
    line-height: 32px;
    font-family: var(--overline);
    background: linear-gradient(#f0f1f5, #f0f1f5), linear-gradient(-45deg, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
}

.pv-ico-icon[b-9349i5zdvy] {
    position: relative;
    height: 52.58%;
    width: 31.91%;
    top: 14.43%;
    right: 35.46%;
    bottom: 32.99%;
    left: 32.62%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}



.btn-gastos-icon[b-9349i5zdvy] {
    position: relative;
    height: 102.92%;
    width: 102%;
    top: -1.37%;
    right: -1.06%;
    bottom: -1.54%;
    left: -0.94%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.expenses[b-9349i5zdvy] {
    position: relative;
    top: 79.25%;
    left: 36.9%;
    font-size: var(--header-h2-size);
    line-height: 32px;
    font-family: var(--overline);
    background: linear-gradient(#f0f1f5, #f0f1f5), linear-gradient(-45deg, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
}

.ct-ico-icon[b-9349i5zdvy] {
    position: relative;
    height: 52.49%;
    width: 35.96%;
    top: 13.38%;
    right: 33.25%;
    bottom: 34.13%;
    left: 30.79%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}



.btn-materiales-icon[b-9349i5zdvy] {
    position: relative;
    height: 102.93%;
    width: 102%;
    top: -1.38%;
    right: -1.06%;
    bottom: -1.55%;
    left: -0.94%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.materials[b-9349i5zdvy] {
    position: relative;
    top: 80.34%;
    left: 29.58%;
    font-size: var(--header-h2-size);
    line-height: 32px;
    font-family: var(--overline);
    background: linear-gradient(#f0f1f5, #f0f1f5), linear-gradient(-45deg, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
}

.mt-ico-icon[b-9349i5zdvy] {
    position: relative;
    height: 44.48%;
    width: 41.31%;
    top: 25.86%;
    right: 27.93%;
    bottom: 29.66%;
    left: 30.75%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}



.btn-clientes-icon[b-9349i5zdvy] {
    position: relative;
    height: 102.92%;
    width: 101.89%;
    top: -1.37%;
    right: -0.95%;
    bottom: -1.55%;
    left: -0.95%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.sales[b-9349i5zdvy] {
    position: relative;
    top: 80.76%;
    left: 36.88%;
    line-height: 32px;
    background: linear-gradient(#f0f1f5, #f0f1f5), linear-gradient(-45deg, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sl-ico-icon[b-9349i5zdvy] {
    position: relative;
    height: 38.14%;
    width: 39.95%;
    top: 29.55%;
    right: 27.9%;
    bottom: 32.3%;
    left: 32.15%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}


.btn-prospecto-icon[b-9349i5zdvy] {
    position: relative;
    height: 102.91%;
    width: 101.89%;
    top: -1.37%;
    right: -0.94%;
    bottom: -1.54%;
    left: -0.94%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.clients[b-9349i5zdvy] {
    position: relative;
    top: 79.11%;
    left: 30.66%;
    font-size: var(--header-h2-size);
    line-height: 32px;
    font-family: var(--overline);
    background: linear-gradient(#f0f1f5, #f0f1f5), linear-gradient(-45deg, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
}

.cl-ico-icon[b-9349i5zdvy] {
    position: relative;
    height: 50.34%;
    width: 37.5%;
    top: 15.75%;
    right: 29.72%;
    bottom: 33.9%;
    left: 32.78%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.btn-menu-prospectos[b-9349i5zdvy] {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    width: 424px;
    height: 292px;
}

.btn-menu-gastos[b-9349i5zdvy] {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    width: 425.5px;
    height: 291.5px;
}

.btn-menu-clientes[b-9349i5zdvy] {
    cursor: pointer;
    position: relative;
    width: 423px;
    height: 291px;
}

.btn-menu[b-9349i5zdvy] {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    width: 426px;
    height: 290px;
    z-index: 1;
}

.espaciado-lateral-arriba[b-9349i5zdvy] {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: -12%;
    margin-left: -12%;
    padding-bottom: 38px;
}

.espaciado-lateral-abajo[b-9349i5zdvy] {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: -12%;
    margin-left: -12%;
    padding-top: 38px;
}

.row-edit[b-9349i5zdvy] {
    align-items: center;
    display: flex;
    justify-content: center;
}



.botonprospecto:hover path[b-9349i5zdvy] {
    fill: red;
}

.fondoboton[b-9349i5zdvy] {
    background-color: green;
    fill: #4DB57F;
}

    .fondoboton:hover[b-9349i5zdvy] {
        fill: #3ca770;
    }

    .fondoboton:active[b-9349i5zdvy] {
        fill: #37A16A;
    }
/* /Shared/Altbar.razor.rz.scp.css */
body[b-o05uiojzzt] {
    margin: 0;
    padding: 0;
    left: 0px;
    
}
.nav-item[b-o05uiojzzt]  a.active {
    background-color: #D68A59 !important;
    color: white;
}

.nav-item[b-o05uiojzzt]  a:hover {
    background-color: #D27D46 !important;
    color: white;
}

.nav-item[b-o05uiojzzt] {
    background-color: wheat;
    color: white;
    margin-bottom: 100px;
}

.nav-menu[b-o05uiojzzt] {
    display: flex;
    font-size: 1.25rem;
    line-height: 1.5;
    padding: .8125rem .5rem;
    transition: width .3s ease-in-out;
    white-space: nowrap;
    color: rgba(0,0,0,.8);
    padding: 0.5rem 1.7rem;
}


    .nav-item[b-o05uiojzzt]  a:not(:active) svg {
        fill: black;

    }
    .nav-item[b-o05uiojzzt]  a:not(:active) {
        color: white;
        
    }
.nav-item[b-o05uiojzzt]  a.active svg {
    fill: white;

}


.nav-item[b-o05uiojzzt]  a:hover svg {
    fill: white;

}

.nav-link[b-o05uiojzzt] {
    padding: 1.5rem 1rem;
}

.nav-icon[b-o05uiojzzt] {
    font-size: 2.1rem !important;
}

.brand-link .brand-image[b-o05uiojzzt] {
    float: left;
    line-height: .8;
    margin-left: 0.5rem;
    margin-right: .5rem;
    margin-top: -13.8px;
    max-height: 40px;
    text-align:end;
    width: auto;
}
/* /Shared/MainLayout.razor.rz.scp.css */
/* /Shared/NavBar.razor.rz.scp.css */
body[b-m3nlsrrye8] {
}

/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-w67s072y6d] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-w67s072y6d] {
    height: 3.5rem;
    background-color: #FFFFFF;
    border-right-style: solid;
    color:black;
    border-right: 1;
    border-right-color: #EFF0F6;
}

.navbar-brand[b-w67s072y6d] {
    font-size: 1.1rem;
    color: black;
}

.navbar-brand:focus[b-w67s072y6d] {
    font-size: 1.1rem;
    color: black;

}
.icons[b-w67s072y6d]{
    width:45px;
    
}
.navbar-brand[b-w67s072y6d]  a:hover {
    background-color: #e8eee8d9;
}

.container-fluid[b-w67s072y6d]  a:hover {
    background-color: #ccd8d1;
}

.oi[b-w67s072y6d] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-w67s072y6d] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-w67s072y6d] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-w67s072y6d] {
        padding-bottom: 1rem;
    }

    .nav-item[b-w67s072y6d]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-w67s072y6d]  a.active {
    background-color: #4DB57F;
    color: white;
}

.nav-item[b-w67s072y6d]  a:hover {
    background-color: #DED1C1; 
    color: #80684B;
}

@media (min-width: 641px) {
    .navbar-toggler[b-w67s072y6d] {
        display: none;
    }

    .collapse[b-w67s072y6d] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Shared/Sidebar.razor.rz.scp.css */
body[b-dgd8lsz9yx] {
    margin: 0;
    padding: 0;
    left: 0px;
}
.nav-item[b-dgd8lsz9yx]  a.active {
    background-color: #4DB57F;
    color: white !important;
}

.nav-item[b-dgd8lsz9yx]  a:hover {
    background-color: #DED1C1;
    color: white !important;

}

.nav-item[b-dgd8lsz9yx] {
    background-color: #DED1C1;
    color: #80684B;
    margin-bottom: 100px;
}

.nav-menu[b-dgd8lsz9yx] {
    display: flex;
    font-size: 1.25rem;
    line-height: 1.5;
    padding: .8125rem .5rem;
    transition: width .3s ease-in-out;
    white-space: nowrap;
    color: rgba(0,0,0,.8);
    padding: 0.5rem 1.7rem;
}


    .nav-item[b-dgd8lsz9yx]  a:not(:active) svg {
        fill: #80684B;

    }
    .nav-item[b-dgd8lsz9yx]  a:not(:active) {
        color: #80684B;
        
    }
.nav-item[b-dgd8lsz9yx]  a.active svg {
    fill: white;

}


.nav-item[b-dgd8lsz9yx]  a:hover svg {
    fill: white;

}

.nav-link[b-dgd8lsz9yx] {
    padding: 1.5rem 1rem;
}

.nav-icon[b-dgd8lsz9yx] {
    font-size: 2.1rem !important;
}

.brand-link .brand-image[b-dgd8lsz9yx] {
    float: left;
    line-height: .8;
    margin-left: 0.5rem;
    margin-right: .5rem;
    margin-top: -13.8px;
    max-height: 40px;
    text-align:end;
    width: auto;
}
