@page "/clientesañadir"

@using System.Collections.Generic
@using System.Linq
@using System.Net.Http
@using System.Net.Http.Json
@using System.Net.Http.Headers;
@using AdcoBlazor.Models;
@using AdcoBlazor.Data;

@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Net;
@using System.Net.Http.Headers;
@using System.Net.Http.Json;
@using System.Text;
@using System.Threading.Tasks;
@using Newtonsoft.Json;

@inject AppState AppState
@inject InsertData InsertData

<body class="sidebar-mini-xs layout-fixed">

	<div class="page">
		<div class="sidebar">
			<Sidebar />
		</div>

		<main class="" style="margin-left:75px;">
			<div class="">

				<NavBar />

			</div>

			<article class="content" style="    margin-left: 15px;">

				<section class="content-header">
					<div class="container-fluid">
						<div class="row mb-2">
							<div class="col-sm-6">
								<h1>Clientes</h1>
							</div>
							<div class="col-sm-6">
								<ol class="breadcrumb float-sm-right">
									<li class="breadcrumb-item"><a class="btn btn-block btn-success" href="clientes">Volver</a></li>
								</ol>
							</div>
						</div>
					</div>
				</section>


				<div class="card card-primary">
					<div class="card-header">
						<h3 class=""></h3>
					</div>


					<form action="" method="post">
						<div class="card-body">
							<div class="form-group">
								<label for="exampleInputEmail1">Nombre</label>
								<input type="text" @bind="Nombre" class="form-control" id="exampleInputEmail1" placeholder="Nombre">
							</div>

							<div class="form-group">
								<label for="exampleInputPassword1">Metodo de pago</label>
								<input type="text" @bind="MetodoPago" class="form-control" id="exampleInputPassword1" placeholder="Metodo de pago">
							</div>


							<div class="form-group">
								<label for="exampleInputPassword1">Documentos</label>
								<input type="text" @bind="Documentos" class="form-control" id="exampleInputPassword1" placeholder="Documentos">
							</div>

							<div class="form-group">
								<label for="exampleInputPassword1">Observaciones</label>
								<input type="text" @bind="Observaciones" class="form-control" id="exampleInputPassword1" placeholder="Observaciones">
							</div>



							<div class="card-footer">
								<button type="button" class="btn btn-primary" @onclick="() => OnSubmitAsync(Nombre, MetodoPago, Documentos, Observaciones, CreatedBy)">Submit</button>

							</div>

				
						</div>

					</form>
				</div>

			</article>

		</main>
	</div>

</body>

@code {

	private string Nombre { get; set; } = string.Empty;
	private string MetodoPago { get; set; } = string.Empty;
	private string Documentos { get; set; } = string.Empty;
	private string Observaciones { get; set; } = string.Empty;
	private AppState appstate { get; set; } = new AppState();

	private async Task OnSubmitAsync(string nombre, string metodopago, string documentos, string observaciones, int createdby)
	{
		var client = new HttpClient();
		var request = new HttpRequestMessage(HttpMethod.Post, "http://127.0.0.1:8000/module/clients/");

		var registerData = new Dictionary<string, object>
{
	{"nombre", Nombre},
	{"metodo_pago", MetodoPago},
	{"documentos", Documentos},
	{"observaciones", Observaciones},
};

		var content = new StringContent(JsonConvert.SerializeObject(registerData), Encoding.UTF8, "application/json");
		request.Content = content;

		request.Headers.Add("X-CSRFToken", "0c6t9fVh5ZwdcXtiEh1lfJdOZ04Xjd5g");
		request.Headers.Add("Authorization", "Bearer 48fb1be1912736a4012c97e9e442ecf7cc5b8a8e");
		request.Headers.Add("Cookie", "csrftoken=0c6t9fVh5ZwdcXtiEh1lfJdOZ04Xjd5g; sessionid=b8blvtggli9n2nl84ydshq1y01tvoz54");

		var response = await client.SendAsync(request);
		if (response.IsSuccessStatusCode)
		{
			Console.WriteLine("Success: " + await response.Content.ReadAsStringAsync());
		}
		else
		{
			Console.WriteLine("Error: " + await response.Content.ReadAsStringAsync());
		}

	}

}

