@page "/gastos"

@using AdcoBlazor.Data
@inject MaterialsDataService MaterialsService


<body class="hold-transition sidebar-mini-xs layout-fixed">

	<div class="page">
		<div class="sidebar">
			<Sidebar />
		</div>

		<main class="" style="margin-left:75px;">
			<div class="">

				<NavBar />

			</div>

			<article class="content" style="    margin-left: 15px;">
				
				<section class="content-header">
					<div class="container-fluid">
						<div class="row mb-2">
							<div class="col-sm-6">
								<h1>Gastos</h1>
							</div>
							<div class="col-sm-6">
								<ol class="breadcrumb float-sm-right">
									<li class="breadcrumb-item"><a class="btn btn-block btn-success" href="gastosañadir">Añadir</a></li>
								</ol>
							</div>
						</div>
					</div>
				</section>

				<div class="col-12">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title"></h3>
						</div>

						<div class="card-body">
							<table class="table table-bordered table-hover" id="example1">
								<thead>
									<tr>
										<th>#</th>
										<th>Ubicacion</th>
										<th>Concepto</th>
										<th>Monto</th>
										<th>Metodo Pago</th>
										<th>Cobrador</th>
										<th>Fecha</th>
										<th>Observaciones</th>
										<th> </th>
									</tr>
								</thead>
								<tbody>

									<tr data-widget="expandable-table" aria-expanded="false">
										<td>183</td>
										<td>Palo Rosa</td>
										<td>Complejo Apartamentos</td>
										<td>$80000</td>
										<td>Shnissugah</td>
										<td>08-04-08</td>
										<td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
										<td>
											<div class="btn-group">
												<button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" data-offset="-52" aria-expanded="false">
													<i class="fas fa-bars"></i>
												</button>
												<div class="dropdown-menu" role="menu" style="">
													<a href="#" class="dropdown-item">Editar</a>
													<a href="#" class="dropdown-item text-danger">Eliminar</a>
													<div class="dropdown-divider"></div>
													<a href="#" class="dropdown-item">View calendar</a>
												</div>
											</div>
										</td>
									</tr>
									<tr class="expandable-body d-none">
										<td colspan="5">
											<p style="display: none;">
												Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
											</p>
										</td>
									</tr>

								</tbody>
							</table>
						</div>

					</div>

				</div>

			</article>

		</main>
	</div>

</body>




@code {


}

