@page "/gastos"

@using AdcoBlazor.Data
@inject MaterialsDataService MaterialsService


<body class="sidebar-mini-xs">

	<div class="page">
		<div class="sidebar">
			<Sidebar />
		</div>

		<main class="" style="margin-left:75px;">
			<div class="">

				<NavBar />

			</div>

			<article class="content" style="    margin-left: 15px;">
				<h3>Gastos</h3>

				<div class="col-12">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Expandable Table</h3>
						</div>

						<div class="card-body">
							<table class="table table-bordered table-hover">
								<thead>
									<tr>
										<th>#</th>
										<th>Concepto</th>
										<th>Monto</th>
										-
										<th>Metodo Pago</th>
										<th>Cobradoe</th>
									</tr>
								</thead>
								<tbody>

									<tr data-widget="expandable-table" aria-expanded="false">
										<td>183</td>
										<td>John Doe</td>
										<td>11-7-2014</td>
										<td>Approved</td>
										<td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
									</tr>
									<tr class="expandable-body d-none">
										<td colspan="5">
											<p style="display: none;">
												Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
											</p>
										</td>
									</tr>

								</tbody>
							</table>
						</div>

					</div>

				</div>

			</article>

			<div class="footer">
				Footer
			</div>
		</main>
	</div>

</body>

@code {


}

