@page "/"

@using System;
@using System.Collections.Generic;
@using System.Net.Http;
@using System.Text;
@using Newtonsoft.Json;
@using AdcoBlazor;
@using Microsoft.AspNetCore.Components.WebAssembly.Services;
@using Blazor.Extensions.Storage
@using System.Collections.Generic
@using System.Linq
@using System.Net.Http
@using System.Net.Http.Json
@using Newtonsoft.Json;
@using System.Net.Http.Headers;
@using RestSharp;
@using RestSharp.Authenticators;
@using System.Text;
@using AdcoBlazor.Models;

@using System.Net;
@using System.Text.Json;

@inject NavigationManager NavigationManager;
@inject HttpClient HttpClient
@inject AuthenticationService AuthenticationService
@inject AppState AppState



<body class="login-page" monica-version="1.4.3" monica-id="ofpnmcalabcbjgholdjcjblkibolbppb" data-new-gr-c-s-check-loaded="14.1028.0" data-gr-ext-installed="" style="min-height: 495.6px;">
<div class="login-box">
<div class="login-logo">
<a href="../../index2.html"><b>Admin</b>LTE</a>
</div>

<div class="card">
<div class="card-body login-card-body">
<p class="login-box-msg">Sign in to start your session</p>
				<form action="" method="post">
<div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email" @bind="Username" data-listener-added_5fe697af="true"><div class="input-group-append">
<div class="input-group-text">
<span class="fas fa-envelope"></span>
</div>
</div>
</div>
<div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password" @bind="Password" data-listener-added_5fe697af="true">
                        <div class="input-group-append">
<div class="input-group-text">
<span class="fas fa-lock"></span>
</div>
</div>
</div>
<div class="row">
<div class="col-8">
<div class="icheck-primary">
<input type="checkbox" id="remember">
<label for="remember">
Remember Me
</label>
</div>
</div>

<div class="col-4">
                            <button type="button" class="btn btn-primary btn-block" @onclick="() => SignInAsync(Username, Password)">Sign In</button>
</div>

</div>
</form>
<div class="social-auth-links text-center mb-3">
<p>- OR -</p>
<a href="#" class="btn btn-block btn-primary">
<i class="fab fa-facebook mr-2"></i> Sign in using Facebook
</a>
<a href="#" class="btn btn-block btn-danger">
<i class="fab fa-google-plus mr-2"></i> Sign in using Google+
</a>
</div>

<p class="mb-1">
<a href="forgot-password.html">I forgot my password</a>
</p>
<p class="mb-0">
<a href="register.html" class="text-center">Register a new membership</a>
</p>
</div>

</div>
</div>


<div id="monica-content-root"></div></body>



@code {
    private string Username { get; set; } = string.Empty;
    private string Password { get; set; } = string.Empty;

    private async Task SignInAsync(string username, string password)
    {
        var loginUrl = "http://127.0.0.1:8000/api/mainlog/";
        var loginData = new Dictionary<string, string>
        {
            { "username", username },
            { "password", password }
        };

        var content = new StringContent(JsonConvert.SerializeObject(loginData), Encoding.UTF8, "application/json");
        var response = await HttpClient.PostAsync(loginUrl, content);
 

        if (response.IsSuccessStatusCode)
        {
            var responseContent = await response.Content.ReadAsStringAsync();
            var responseData = JsonConvert.DeserializeObject<Dictionary<string, string>>(responseContent);

            // Save values in AppState
            AppState.Username = username;
            AppState.Barear = responseData["token"];
            AppState.SesionId = responseData["sessionid"];
            AppState.CSRFToken = responseData["csrftoken"];

            Console.WriteLine($"Login response: {responseContent}"); // Imprimir la respuesta en la consola
            NavigationManager.NavigateTo("/clientes");
            AppState.Username = username;

        }
        else
        {
            Console.WriteLine($"Login failed: {response.StatusCode}");
        }
    }
}

