@page "/menu"

<h1>Menu</h1>



    <main class="main">

        <button class="dco-parent">
            <button class="dco"></button><img class="adco-1-icon" alt="" src="images/adco12x.png" />
        </button><button class="main-child"></button><img class="main-item" alt="" src="images/vector145.svg" />
        <img class="main-inner" alt="" src="images/vector146.svg" />
        <img class="vectoricon" alt="" src="images/vector148.svg" />
        <img class="main-child1" alt="" src="images/vector144.svg" />
        <img class="main-child2" alt="" src="images/vector147.svg" />
        <img class="main-child3" alt="" src="images/vector149.svg" />
        <img class="main-child4" alt="" src="images/vector149.svg" />
        <img class="main-child5" alt="" src="images/vector157.svg" />
        <img class="main-child6" alt="" src="images/vector150.svg" />
        <img class="main-child7" alt="" src="images/vector150.svg" />
        <img class="main-child8" alt="" src="images/vector150.svg" />
        <img class="main-child9" alt="" src="images/vector150.svg" />
        <img class="main-child10" alt="" src="images/vector154.svg" />
        <img class="main-child11" alt="" src="images/vector155.svg" />
        <img class="ellipse-icon" alt="" src="images/ellipse8.svg" />
        <img class="main-child12" alt="" src="images/ellipse9.svg" />
        <img class="main-child13" alt="" src="images/ellipse8.svg" />
        <img class="main-child14" alt="" src="images/ellipse9.svg" />

        <div class="fecha">Fecha</div>
        <button class="btn-menu-proyecto">
            <div class="btn-menu-proyecto1">
                <img class="btn-proyectos-icon"
                     alt=""
                     src="images/btnproyectos.svg" /><b class="projects">PROYECTOS</b>
                     <img class="pr-ico-icon" alt="" src="images/prico.svg" />
            </div>
        </button><button class="btn-menu-trabajadores">
            <div class="btn-menu-proyecto1">
                <img class="btn-trabajadores-icon"
                     alt=""
                     src="images/btntrabajadores.svg" /><b class="providers">
                    <p class="proveedores-y">PROVEEDORES Y</p>
                    <p class="proveedores-y">TRABAJADORES</p>
                </b><img class="pv-ico-icon" alt="" src="images/pvico.svg" />
            </div>
        </button><button class="btn-menu-gastos">
            <div class="btn-menu-proyecto1">
                <img class="btn-gastos-icon" alt="" src="images/btngastos.svg" /><b class="expenses">GASTOS</b><img class="ct-ico-icon" alt="" src="images/ctico.svg" />
            </div>
        </button><button class="btn-menu-materiales">
            <div class="btn-menu-proyecto1">
                <img class="btn-materiales-icon"
                     alt=""
                     src="images/btnmateriales.svg" /><b class="materials">MATERIALES</b><img class="mt-ico-icon" alt="" src="images/mtico.svg" />
            </div>
        </button>
        <div class="btn-menu-clientes">
            <div class="btn-menu-proyecto1">
                <img class="btn-clientes-icon"
                     alt=""
                     src="images/btnclientes.svg" /><b class="sales">CLIENTES</b><img class="sl-ico-icon" alt="" src="images/slico.svg" />
            </div>
        </div>
        <button class="btn-menu-prospectos">
            <div class="btn-menu-proyecto1">
                <img class="btn-prospecto-icon"
                     alt=""
                     src="images/btnprospecto.svg" /><b class="clients">PROSPECTOS</b><img class="cl-ico-icon" alt="" src="images/clico.svg" />
            </div>
        </button>
    </main>
