@page "/proyectos"

<body class="sidebar-mini-xs">

	<div class="page">
		<div class="sidebar">
			<Sidebar />
		</div>

		<main class="" style="margin-left:75px;">
			<div class="">

				<NavBar />

			</div>

			<article class="content" style="    margin-left: 15px;">
				
				<section class="content-header">
					<div class="container-fluid">
						<div class="row mb-2">
							<div class="col-sm-6">
								<h1>Proyectos</h1>
							</div>
							<div class="col-sm-6">
								<ol class="breadcrumb float-sm-right">
									<li class="breadcrumb-item"><a class="btn btn-block btn-success" href="proyectosañadir">Añadir</a></li>
								</ol>
							</div>
						</div>
					</div>
				</section>

				<div class="col-12">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title"></h3>
						</div>

						<div class="card-body">
							<table class="table table-bordered table-hover">
								<thead>
									<tr>
										<th>#</th>
										<th>Nombre</th>
										-
										<th>Telefono</th>
										<th>Estatus</th>
										<th>Direccion</th>
										<th>Compañia</th>
										<th>Inicio-Final</th>
										<th>Ubicacion</th>
										<th>Observaciones</th>
										<th> </th>
									</tr>
								</thead>
								<tbody>

									<tr data-widget="expandable-table" aria-expanded="false">
										<td>183</td>
										<td>Teleferico</td>
										<td>6180559999</td>
										<td>TBD</td>
										<td>Direccion</td>
										<td>Rockpoli</td>
										<td>05-05-05/03-05-15</td>
										<td>Tepito</td>
										<td>Num quis scit multum temporis hoe facere mihi ut annuum in clibano reliquerit ut illum crispum reddat?</td>
										<td>
											<div class="btn-group">
												<button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" data-offset="-52" aria-expanded="false">
													<i class="fas fa-bars"></i>
												</button>
												<div class="dropdown-menu" role="menu" style="">
													<a href="#" class="dropdown-item">Editar</a>
													<a href="#" class="dropdown-item text-danger">Eliminar</a>
													<div class="dropdown-divider"></div>
													<a href="#" class="dropdown-item">View calendar</a>
												</div>
											</div>
										</td>
									</tr>
									<tr class="expandable-body d-none">
										<td colspan="5">
											<p style="display: none;">
												Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
											</p>
										</td>
									</tr>

								</tbody>
							</table>
						</div>

					</div>

				</div>
			</article>

		</main>
	</div>

</body>

@code {

}